@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-heading{
  margin-top: 2px;
  margin-bottom: 40px;
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login-page {
  width: 450px;
  padding: 8% 0 0;
  margin-top:0px;
  margin-left:525px; 
}
.form {
  position: relative;
  z-index: 1;
  opacity: 0.9;
  background: linear-gradient(to top, rgb(149, 205, 173), rgb(23, 158, 225));

  width: 320px;
  height: 450px;
  margin: 0 auto 100px;
  padding: 40px;
  text-align: center;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-style: solid;
  border-radius: 20px;
  border-color: #0b0e4a;   
}
.form input {
  font-family: "Times New Roman", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
}
.form button {
  font-family: "Times New Roman", sans-serif;
  width: 68%;
  background-color: green;
  color: white;
  padding: 9px;
  border: none;
  border-radius: 7px;
  margin: 5px 5px;
  opacity: 0.85;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  border: 2px solid black;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: blue;
  font-size:1.08rem;
  width: 140%;
}
.form .message a {
  color: rgb(141, 8, 8);
  text-decoration: none;
  font-size:1rem;
  color: #0b0e4a;
}
.form .register-form {
  display: none;
}


input,
.btn {
  width: 130%;
  padding: 7px;
  border: none;
  border-radius: 7px;
  margin: 5px 5px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}
input:hover,
.btn:hover {
  opacity: 1;
}
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
.col i{
  margin-right: 10px;
}
.fb {
  border: 2px solid black;
  background-color: #325cb5;
  color: rgb(255, 255, 255);
}

.twitter {
  border: 2px solid black;
  background-color: #529bd3;
  color: rgb(31, 21, 21);
}

.google {
  border: 2px solid black;
  background-color: #e3280f;
  color: white;
}
.message:hover{
    color: rgb(36, 38, 40);
}



